@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    background: #c5efff;
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.Registro{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
    height: 90%;
    gap: 15px;
    color: white;
    background: #0299d4;
    border-top-left-radius: 15px ;
    border-bottom-left-radius: 15px;
}
.Registro button{
    width: 100px;
    background: transparent;
    padding: 5px;
    border: 2px white solid;
    border-radius: 20px;
    color: white;
}
.Registro > button:hover{
    color: #0299d4;
    background: white;
    cursor: pointer;
}
.Login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 45%;
    height: 90%;
    color: #0299d4;
    background: white;
    border-top-right-radius: 15px ;
    border-bottom-right-radius: 15px;
}
.login-types{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login-types button{
    border: none;
    
}
.login-types img{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    width: 25px;
    height: 25px;
}
.login-field{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
}
.login-field input{
    padding: 5px;
    outline: none;
    border-color: #0299d4;
}
.login-types > div button{
    background: transparent;
    margin: 10px;
    border: #0299d4 solid 2px;
    border-radius: 10px;
}
.login-types > div button:hover{
    background: #66ccf4;
}
.login-field > button{
    width: 100px;
    background: transparent;
    padding: 5px;
    border: 2px #0299d4 solid;
    border-radius: 20px;
    color: #0299d4;
}
.login-field > button:hover{
    color: white;
    background: #0299d4;
    cursor: pointer;
}
#Email, #senha{
    width: 300px;
}
.Login h1{
    margin-bottom: 20px;
    font-size: 25px;
}
.Login h2{
    margin-top: 20px;
}
.login-field h2{
    font-size: 16px;
    margin-bottom: 20px;
}
.login-field h3{
    font-size: 14px;
}
.login-field h3:hover{
    text-decoration: underline;
    cursor: pointer;
}
.login-field a {
    text-decoration: none;
    color: #0299d4;
    font-size: 14px;
}
.login-field a:hover {
    color: #66ccf4;
}
.fumec-logo{
    width: 150px;
    margin-top: 20%;
    margin-bottom: 50px;
}