/*ESTILO GERAL*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    font-family: 'Roboto', sans-serif;
}
/*ESTILO DO MENU*/
.my-profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    background: #0299d4;
}
.aluno-info{
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.img-aluno{
    margin-top: 20px;
    margin-bottom: 10px;
    width: 90px;
    height: 90px;
    border-radius: 50%;
}
.nome-aluno{
    color: white;
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.curso{
    color: white;
    font-size: 12px;
    margin-bottom: 5px;
}
.mudar-dados{
    background: transparent;
    padding: 5px;
    border: 2px white solid;
    border-radius: 20px;
    color: white;
    margin-top: 10px;
}
.mudar-dados:hover{
    color: #0299d4;
    background: white;
    cursor: pointer;
}
.menu{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    text-align: center;
    color: white;
    margin-bottom: 50%;
    margin-top: 20px;
    gap: 25px;
}
.academico-options{
    display: none;
    background: #0299d4;
    
}
.academico-options ul{
    padding: 5px;
    list-style: none;
}
.academico-options li{
    padding: 2px;
    font-size: 14px;
}
.academico-options li:hover{
    background: #007eaf;
    cursor: pointer;
}
.didatico-options{
    display: none;
    background: #0299d4;
}
.didatico-options ul{
    padding: 5px;
    list-style: none;
}
.didatico-options li{
    padding: 2px;
    font-size: 14px;
}
.didatico-options li:hover{
    background: #007eaf;
    cursor: pointer;
}
.eventos-options{
    display: none;
    background: #0299d4;
}
.eventos-options ul{
    padding: 5px;
    list-style: none;
}
.eventos-options li{
    padding: 2px;
    font-size: 14px;
}
.eventos-options li:hover{
    background: #007eaf;
    cursor: pointer;
}
.financeiro-options{
    display: none;
    background: #0299d4;
}
.financeiro-options ul{
    padding: 5px;
    list-style: none;
}
.financeiro-options li{
    padding: 2px;
    font-size: 14px;
}
.financeiro-options li:hover{
    background: #007eaf;
    cursor: pointer;
}
.menu h2{
    font-size: 14px;
}
.img-menu{
    width: 40px;
}
.div-academico, .div-didatico, .div-eventos, .div-financeiro{
    width: 100%;
    padding-bottom: 10px;
    padding-top: 10px;
}
.div-academico:hover, .div-didatico:hover, .div-eventos:hover, .div-financeiro:hover{
    background: #007eaf;
    cursor: pointer;
}
.not{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    margin: 5px;
}
.not img{
    width: 20px;
}
.not img:hover{
    cursor: pointer;
}
/*ESTILO DO CONTEUDO*/
.content{
    display: flex;
    width: 80%;
    background: #f0ecec;
}
.content-1{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.welcome{
    margin: 10px;
    background: white;
}
.welcome h1{
    text-align: center;
    background: #0299d4;
    color: white;
    font-size: 16px;
}
.data-div{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.data-texto{
    margin: 10px;
}
.welcome > div{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.welcome a{
    color: #007eaf;
}
.atalhos{
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    background: white;
}
.atalhos h1{
    text-align: center;
    background: #0299d4;
    color: white;
    font-size: 16px;
}
.atalhos p{
    margin: 5px;
    text-align: center;
    font-size: 14px;
}
.atalho-content{
    margin: 10px;
    display: flex;
}
.atalho-content div{
    text-align: center;
    width: 50%;
}
.atalho-content a {
    text-decoration: none;
    color: #0299d4;
}
.atalho-content a:hover{
    text-decoration: underline;
    color: #007eaf;
}
.avisos{
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    background: white;
}
.avisos h1{
    text-align: center;
    background: #0299d4;
    color: white;
    font-size: 16px;
}
.avisos p{
    margin: 5px;
    text-align: center;
    font-size: 14px;
}
.avisos ol{
    margin-left: 30px;
    margin-top: 5px;
}
.avisos li{
    margin-bottom: 5px;
}
.avisos a{
    text-decoration: none;
    color: #0299d4;
}
.avisos a:hover{
    text-decoration: underline;
    color: #007eaf;
}
.content-2{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.bibliotecas{
    margin: 10px;
    background: white;
}    
.bibliotecas h1{
    text-align: center;
    background: #0299d4;
    color: white;
    font-size: 16px;
}
.bibliotecas div{
    margin: 20px;
}
.bibliotecas-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.bibliotecas-content img{
    width: 150px;
}
.menu-mobile{
    display: none;
}
@media screen and (max-width:700px){
    .my-profile{
        display: none;
    }
    .content{
        width: 100%;
        flex-direction: column;
    }
    .content-1{
        margin-top: 10%;
    }
    .content-1, .content-2{
        width: 100%;
    }
    .menu-mobile{
        top: 0;
        position: fixed;
        width: 100%;
        height: 5%;
        display: flex;
        align-items: center;
        background: #0299d4;
        justify-content: space-between;
    }
    .menu-mobile div{
        display: flex;
        align-items: center;
    }
    .menu-mobile h1{
        font-size: 16px;
        margin-left: 10px;
        color: white;
    }
    .menu-m-img{
        margin-right: 5px;
        gap: 10px;
    }
    .menu-m-img img{
        width: 25px;
    }
    .aluno-m{
        width: 35px;
        height: 35px;
        border-radius: 50%;
        margin-left: 5px;
    }
}